@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

html {
    scroll-behavior: smooth;
    min-height: 100vh;
    
}

body {
    background-image: url("../images/factions.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Montserrat";
    font-size: 62.5%;
    overflow-x: hidden;
}

.card {
    background-color: transparent;
    border: 1px solid #dc3545;
}
#question-info {
    color:white;
}

.bold-text {
    color: white;
    
}



.img-fluid {
    max-width: 50vh;
    height: auto;
}
#progressBar {
    width: 20rem;
    height: 2rem;
    border: 1px solid #dc3545;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color:#dc3545;
    width: 0%;
}