/* Google font import link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

/* General body styling */
html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    background-image: url("../images/factions.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Montserrat";
    font-size: 62.5%;
    overflow-x: hidden;
}

.bold-text {
    color: #f7b10a;
}

.img-fluid {
    max-width: 50vh;
    height: auto;
}

/* Button styling */
.btn-danger,
.btn-danger:hover {
    color: #fff;
    background-color: #f7b10a;
    border-color: #f7b10a;
}
.btn-outline-danger,
.btn-outline-danger:hover,
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle
 {
    color: #fff;
    border-color: #f7b10a;
    background-color: #f7b10a;
}

.card {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #dc3545;
}

#question-info {
    color: #f7b10a;
}

#result-info {
    color: white;  
}

.hide {
    display: none;
}