/* Google font import link */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "lifeCraft";
  src: url("../css/fonts/LifeCraft_Font.ttf");
}

/* General body styling */
html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  background-image: url("../images/factions.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  position: relative;
}

a {
  color: #ea3012;
  text-decoration: none;
}

.bold-text-logo {
  font-family: "lifeCraft";
  font-size: 4rem;
  color: #f7b10a;
  background: rgba(0, 0, 0, 0.5);
}
.bold-text {
  color: #f7b10a;
  background: rgba(0, 0, 0, 0.5);
}

/* Styling for images */
.img-fluid {
  max-width: 50vw;
  height: auto;
}
.image {
  width: 9vw;
  height: auto;
}
.result-image {
  width: 20vw;
  height: auto;
}

/* Button styling */
.btn {
  background-color: #f7b10a;
}

/* Styling for game container section */
#game-container {
  background: rgba(0, 0, 0, 0.5);
  width: 90vw;
  height: auto;
}
#questions {
  color: #f7b10a;
}

#factions,
#roles,
#classes,
#races {
  font-size: 1rem;
  color: #f7b10a;
}

/* Footer/Social media buttons */
#social {
  font-size: 2rem;
  color: #f7b10a;
}
.social {
  font-size: 1rem;
  color: #f7b10a;
}
.footer-created {
  font-family: "lifeCraft";
  font-size: 2rem;
  color: #009ae4;
}

/* General styling */
.hide {
  display: none;
}
