/* Google font import link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

/* General body styling */
html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    background-image: url("../images/factions.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Montserrat";
    font-size: 62.5%;
    overflow-x: hidden;
}

.bold-text {
    color: #f7b10a;
}
/* Styling for images */
.img-fluid {
    max-width: 50vh;
    height: auto;
}

/* Button styling */
.btn-danger,
.btn-danger:hover,
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle,
.btn-danger.focus, .btn-danger:focus 
 {
    color: #fff;
    background-color: #f7b10a;
    border-color: #f7b10a;
    box-shadow:none;
}
.btn-outline-danger,
.btn-outline-danger:hover
 {
    color: #fff;
    border-color: #f7b10a;
    background-color: #f7b10a;
    box-shadow: none;
}

/* Styling for game container section */
.card {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #dc3545;
}

#question-info {
    color: #f7b10a;
}
/* Styling for results container section */
#result-info {
    color: white;  
}
.image {
    width: 9vw;
    height: auto;
}

/* Social media buttons */
/*Taken from and adjusted to my likings: https://codepen.io/yancy/pen/qyMdod*/
* {
    margin: 0;
    padding: 0;
}

i {
    opacity: 0;
    font-size: 28px;
    color: #f7b10a;
    will-change: transform;
    -webkit-transform: scale(.1);
            transform: scale(.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.btn_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 240px;
    height: 72px;
    background-color: #000;
    border-radius: 80px;
    padding: 0 18px;
    will-change: transform;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn_wrap:hover {
    /* transition-delay: .4s; */
    -webkit-transform: scale(1.1);
            transform: scale(1.1)
}

span {
    position: absolute;
    z-index: 99;
    width: 240px;
    height: 72px;
    border-radius: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    color: #000;
    background-color: #f7b10a;
    padding: 0 18px;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 240px;
    height: 64px;
    border-radius: 80px;
}

.container i:nth-of-type(1) {
    -webkit-transition-delay: 1.1s;
            transition-delay: 1.1s;
}

.container i:nth-of-type(2) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
}

.container i:nth-of-type(3) {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
}

.container i:nth-of-type(4) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
}

.btn_wrap:hover span {
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px)
}

.btn_wrap:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}


.dr {
    position: absolute;
    bottom: 16px; 
    right: 16px;
    width:100px;
}
/* General styling */
.hide {
    display: none;
}