@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/factions.jpg");
    background-color: black;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Montserrat";
    font-size: 62.5%;
    overflow-x: hidden;
}

#logo {
    background-image: url("../images/logo.png");
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
}

.section-title {
    font-family: "Open-Sans";
    color: white;
}

.section-text {
    font-family: "Montserrat";
    color: white;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.3);
}