@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/factions.png");
    background-color: black;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Montserrat";
    font-size: 62.5%;
    overflow-x: hidden;
}

#logo {
    background-image: url("../images/logo.png");
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: top;
}
#illidan {
    /*background-image: url("../images/illidan.jpg");*/
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    width: 100%;
}

.section-text {
    font-family: "Montserrat";
    color: white;
    font-size: 1.5rem;
    justify-content: center;
}

.jumbotron {
    border: 1px solid #37343d;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem 1rem;
    justify-content: center;
}

