/* Google font import link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

@font-face {
    font-family: 'lifeCraft';
    src: url('../css/fonts/LifeCraft_Font.ttf');
}

/* General body styling */
html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    background-image: url("../images/factions.png");
    background-color: #000; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Montserrat";
    font-size: 62.5%;
    overflow-x: hidden;
    position: relative;
}

.bold-text-logo {
    font-family: 'lifeCraft';
    font-size: 4rem;
    color: #f7b10a;
    background: rgba(0, 0, 0, 0.5);
}
.bold-text {
    color: #f7b10a;
    background: rgba(0, 0, 0, 0.5);
    
}
/* Styling for images */
.img-fluid {
    max-width: 50vw;
    height: auto;
}
.image {
    width: 9vw;
    height: auto;
}
/* Button styling */
.btn-danger,
.btn-danger:hover,
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle,
.btn-danger.focus, .btn-danger:focus 
{
    color: #fff;
    background-color: #f7b10a;
    border-color: #f7b10a;
    box-shadow:none;
}
.btn-outline-danger,
.btn-outline-danger:hover
{
    color: #fff;
    border-color: #f7b10a;
    background-color: #f7b10a;
    box-shadow: none;
}

/* Styling for game container section */
#game-container {
    background: rgba(0, 0, 0, 0.5);
    width: 80vw;
}
#questions {
    color: #f7b10a;
}


#factions,
#roles,
#classes,
#races {
    font-size: 1rem;
    color:#f7b10a;
}



/* Social media buttons */
#social {
    font-size: 2rem;
    color:#f7b10a;
}
/* General styling */
.hide {
    display: none;
}